#modal1.modal.mfp-hide
  .modal__wrapper
    .modal__close.hidden
    .modal__header Связаться с менеджером
    .modal__content
      form(action="#!")
        .form-group
          +field-text({
            title: 'Имя',
            hasJs: false,
            isTextarea: false,
            hasError: false,
            helpText: '',
            mods: 'md',
            val: '',
            attrs: {
              name: 'text',
              placeholder: 'Введите ваше имя'
            }
          })
        .form-group
          +field-text({
            title: 'Номер телефона',
            hasJs: false,
            isTextarea: false,
            hasError: false,
            helpText: '',
            mods: 'md',
            val: '',
            attrs: {
              name: 'text',
              placeholder: 'Введите ваш номер телефона'
            }
          })
        .clear8
        +btn('Связаться').--block.--xl

#modal2.modal.mfp-hide
  .modal__wrapper
    .modal__close.hidden
    .modal__header Заявка на регистрацию принята
    .modal__content
      .text-center
        p.--fs16 Ваш менеджер вскоре перезвонит вам
      +btn('Связаться').--block.--xl

#modal3.modal.mfp-hide
  .modal__wrapper
    .modal__close.hidden
    .modal__header Узнать цену
    .modal__content
      .text-center
        p.--fs16 Ваш менеджер вскоре перезвонит вам
      +btn('Связаться').--block.--xl

#modal4.modal.mfp-hide
  .modal__wrapper
    .modal__close.hidden
    .modal__header Заказ оформлен
    .modal__content
      .text-center
        p.--fs16 Свободный менеджер свяжется с вами в ближайшее время
      +btn('На главную')(href='#!').--block.--xl

#modal5.modal.mfp-hide
  .modal__wrapper
    .modal__close.hidden
    .modal__header Заявка принята
    .modal__content
      .text-center
        p.--fs16 Ваш менеджер свяжется с вами в ближайшее время
      +btn('На главную')(href='#!').--block.--xl

#modal6.modal.mfp-hide
  .modal__wrapper
    .modal__close.hidden
    .modal__header Корзина
    .modal__content
      .text-center
        p.--fs16 Ваш менеджер вскоре перезвонит вам
      +btn('Продолжить оформление')(href="#!").--block.--xl

#modal7.modal.--toCart.mfp-hide
  .modal__wrapper
    .modal__close.hidden
    .modal__header Dacia Nova /SuperNova /Solenza (Седан) (1995-2005)
    .modal__content
      .modal__product
        .modal__product-thumb
          img(src="./tmp/product-img-118-118.png", alt="")
        .last
          .modal__product-cost
            .first 
              b Цена:
            .last
              span 469.6 грн
          .cart-count.j-cart-count
            button.cart-count__minus(type='button')
            button.cart-count__plus(type='button')
            input.cart-count__input(type='text' value='1')
          .modal__product-price 939.2 грн
      +btn('Оформить заказ')(href="#!").--block
      button(type="button").modal__btn-to-cart 
        span Добавить в корзину
          br
          | и продолжить покупки
        i.icon-arrow-right-2