/* breadcrumb */
.breadcrumbs {
  $this: &;
  margin: 0 0 16px 0;
  padding: 0 0 8px 0;
  font-size: rem(16px);
  display: flex;
  flex-wrap: wrap;
  color: $color-gray;
  font-weight: 500;
  &__item {
    list-style: none;
    margin: 0;
    &+#{$this}__item {
      margin-left: 10px;
      &::before {
        content: '\e901';
        margin-right: 10px;
        font-family: $font-icomoon;
        color: #000;
        display: inline-block;
        font-weight: 400;
      }
    }
    &>a,&>span {
      display: inline-block;
      line-height: 14px;
      text-decoration: none;
    }
    &>a {
      color: $color-gray;
    }
    &:first-child {
      font-weight: 700;
    }
    &::before {
      display: none;
    }
  }
}