/* header */
.header {
  $this: &;
  background-color: $color-white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0px 8px 33px rgba(#000,.1);
  flex-shrink: 0;
  font-size: 14px;
  &__top {
    position: relative;
    border-bottom: 1px solid rgba(#071739,.2);
    &-wrapper {
      display: flex;
      height: 40px;
      align-items: center;
    }
    &-container {
      position: relative;
    }
  }
  &__logo {
    flex-shrink: 0;
  }
  &__cart {
    flex-shrink: 0;
  }
  &-holder {
    height: 153px;
    flex-shrink: 0;
  }
  &__bottom {
    background: $color-white;
    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 112px;
      transition: height 0.35s;
    }
  }
  &__course {
    flex-shrink: 0;
    display: none;
    b {
      font-weight: 500;
    }
  }
  &__profile {
    flex-shrink: 0;
    display: none;
    [class*="icon-"] {
      font-size: 18px;
      margin-right: 5px;
      vertical-align: -3px;
    }
    a {
      color: $color-dark;
      text-decoration: none;
      display: flex;
      span {
        text-decoration: underline;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
        max-width: 100px;
        font-weight: 500;
      }
      &:hover {
        span {
          text-decoration: none;
        }
      }
    }
  }
  &__links {
    flex-grow: 1;
    ul {
      font-weight: 400;
      display: flex;
      justify-content: center;
      li {
        &::before {
          display: none;
        }
        &>span, &>a {
          text-decoration: none;
          color: #576583;
        }
        &>a {
          &:hover {
            text-decoration: underline;
          }
        }
        &.active {
          &>span, &>a {
            color: $color-dark;
            text-decoration: underline;
          }
        }
      }
    }
  }
  &.is-scroll {
    #{$this} {
      &__bottom {
        &-wrapper {
          height: 64px;
        }
      }
    }
    &+.header-holder {
      height: 105px;
    }
  }
  &.--logged {
    #{$this} {
      &__course, &__profile {
        display: block;
      }
    }
  }
}

.logo {
  img {
    width: 150px;
    display: block;
  }
  &>a {
    display: inline-block;
    vertical-align: middle;
  }
}

.btn-cart {
  width: 32px;
  height: 32px;
  text-decoration: none;
  display: block;
  position: relative;
  top: 3px;
  margin-right: 25px;
  background: transparent;
  border: 0;
  span {
    position: absolute;
    right: -8px;
    top: -8px;
    width: 24px;
    height: 24px;
    color: $color-white;
    text-align: center;
    line-height: 24px;
    font-size: rem(12px);
    border-radius: 50%;
    background: $color-red;
  }
  &::before {
    content: '\e902';
    font-family: $font-icomoon;
    font-size: 32px;
    line-height: 1;
  }
}

.btn-menu {
  width: 56px;
  height: 56px;
  text-decoration: none;
  display: block;
  background: transparent;
  border: 0;
  position: relative;
  margin-right: -10px;
  &::before {
    content: '\e90b';
    font-family: $font-icomoon;
    font-size: 24px;
    // background: red;
  }
  &.is-active {
    &::before {
      content: '\e903';
      font-size: 20px;
    }
  }
}