doctype

html(lang="ru")

  -var active = 'О компании' //активный пункт меню, список в header.jade
  -var pageTitle = 'О компании' + ' - Avtosteklo' //title страницы для генерации верстки
  -var loggined = false;

  include ./_include/_head

  body

    // Preloader
    include ./_include/_preloader
    
    .base
      include ./_include/_header

      // Content
      main.content
        .container
          +breadcrumbs()
            +breadcrumbs-item('Главная', './index.html')

          .content__head
            h1 О компании

        .content__rectangle
          img(src="./img/logo-l.png", alt="")

        .container
          .content__document
            .row
              .col-6
                p Стекольная компания 
                  strong.text.--blue "Трейдсистем" 
                  | давно и успешно занимается реализацией автомобильного стекла. "Трейдсистем" производитель высококачественного автомобильного стекла на импортные и отечественные автомобили. Автостекло, комплекс услуг по продаже и установке автомобильного стекла - то, с чего мы начали свою работу. Все годы мы динамично развивались, и результатом этого стало возрастающее с каждым годом количество клиентов, высокое качество обслуживания.
                p Обладая собственными производственными мощностями, высококвалифицированными кадрами и современным оборудованием, ООО "Трейдсистем" в 2008 году самостоятельно начало производить:
              .col-6
                ul
                  li автостекло
                  li автомобильный и архитектурный триплекс и сталинит
                  li стекла на мебель
                  li витрины
                  li ударостойкое и пулестойкое стекло (класс защиты СК-2,3,4 "БО" (безосколочное) и СК-2,3,4 "О" (осколочное);
                  li автостекло
                  li кузовное стекло;
                  li блоки со сдвижными стеклами
                  li стеклопакеты для автомобилей (которые позволяют сохранить в салоне тепло зимой и прохладу летом).
              
            h2 Так же можем предложить
            ul.--column-2
              li пластиковые панели боковые и для потолков для переоборудования минивенов из грузовых в пассажирские (изготовленные по европейским стандартам и в цвет и структуру пластика оригинальных салонов, благодаря чему интенсивное использование такого транспорта долговечно и безопасно);
              li сиденья
              li ткани для обивки салонов;
              li молоточки для аварийных выходов;
              li люки (стеклянные (с молоточком и без), металлические, а также с механизмом аварийного выхода);
              li светотехника для салона;
              li крепежи поручней;
              li ручки в автобусы
              li салонные печки;
              li кондиционеры
              li автомобильные шторы;
              li автоматические подножки для бусов;
              li автоматические механизмы для открытия боковых дверей;
              li алюминиевые профиля;
              li телевизионные и WI-FI (интернет) антенны для авто;
              li кнопки
              li пластиковые панели для переоборудования минивенов в скорую помощь (изготовлены по европейским стандартам), и многое другое (каталог прилагается).

            .row
              .col-6
                p В настоящее время проведена реконструкция производственных мощностей, в связи с чем увеличилась переработка стекла до 2,500 тыс. кв. м в сутки.
                p Недавним временем нами была запущена закалочная печь для гнутого и плоского стекла. Теперь мы способны производить гнутое каленое стекло размером 2000*1600 мм, а также плоское каленое стекло размером 2250*3210мм.
                p Автоматическая линия для порезки и обработки прямолинейных и криволинейных изделий из стекла дает возможность получить изделия, полностью соответствующие заданным параметрам.
                p Также были запущены 2 обрабатывающих центра с ЧПУ производства ведущих предприятий Италии, которые позволяют идеально обрабатывать наши изделия с высокой точностью и скоростью.
                p Благодаря двухцветной линии шелкотрафаретной печати, качественно укомплектованной лаборатории для производства шелкотрафаретной печати, а также высококвалифицированным мастерам наши автомобильные стекла обладают идеально ровной шелкографией по контуру стекла.
                p
                  b В настоящее время в процессе монтирования находится еще 3 участка:
            ul.--column-2
              li производится монтаж закалочной печи со штампом, которая позволит изготовить каленое стекло любой сложности для дальнейшего его применения как заднее стекло с обогревом в автомобилях или в архитектуре;
              li печь для моллирования стекла с рабочими габаритами 3м*4м, которая даст возможность изготавливать сложные стекла для больших автобусов, а также крупногабаритные стекла из триплекса для применения в архитектуре;
              li карусельная печь моллирования для производства автомобильного стекла и стекла для мебели, благодаря которой увеличится объем производства на 20 тысяч гнутых изделий в месяц.
            .row
              .col-6
                p Предприятие принимает индивидуальные заказы на серийное производство автостекла, на цветовое оформление и художественный дизайн стекла и зеркала, на изготовление плоского и гнутого триплекса, бронированного стекла по индивидуальным размерам и формам дляиспользования во всех видах наземного транспорта, в строительстве и других сферах применения.
                p Наша политика направлена на долгосрочное развитие компании, поэтому мы дорожим своим имиджем и всегда отвечаем за качество своей работы.
                p Сотрудничество с несколькими заводами-производителями позволяет нам поддерживать оптимальное соотношение "цена-качество", бесперебойно обслуживать оптовых покупателей в любых количествах, а также постоянно расширять ассортимент предлагаемой продукции.
              .col-6
                p Сотрудничество с ООО "Трейдсистем" позволяет нашим клиентам работать с конкурентоспособным товаром по низким ценам, что обеспечивает им постоянно растущие продажи.
                p Клиенты нашей компании защищены от подделок и изделий низкого качества. Они застрахованы от конфликтов с покупателями, правоохранительными и контролирующими органами.
                p Мы искренне благодарны нашим партнерам и клиентам, желаем им благополучия и процветания!
            
      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")