doctype

html(lang="ru")

  -var active = 'Корзина' //активный пункт меню, список в header.jade
  -var pageTitle = 'Корзина' + ' - Avtosteklo' //title страницы для генерации верстки
  -var loggined = true;

  include ./_include/_head

  body

    // Preloader
    include ./_include/_preloader
    
    .base
      include ./_include/_header

      // Content
      main.content
        .container
          +breadcrumbs()
            +breadcrumbs-item('Главная', './index.html')

          .content__head
            h1 Корзина

        .catalog-cart
          table.catalog-cart__table
            thead.catalog-cart__thead
              tr
                th(width="306") Товар
                th Еврокод
                th Размер
                th Производитель
                th Код
                th(width="100") Цена
                th(width="127") Количество
                th(width="1") &nbsp;
            tbody.catalog-cart__body
              tr.catalog-cart__tr
                td
                  .catalog-cart__product
                    a(href="./tmp/product-img-288-288.png").catalog__code-link.j-image-popup
                    span Dacia Nova /SuperNova/ Solenza (Седан) (1995-2005)
                td 4003/ 39B2AGNBLMV1P
                td 1317*690
                td BENSON
                td 000001177
                td
                  a(href="#!").catalog-cart__price.text.--blue цена
                td
                  .cart-count.--mb0.j-cart-count
                    button.cart-count__minus(type='button')
                    button.cart-count__plus(type='button')
                    input.cart-count__input(type='text' value='2')
                td(align="right")
                  button(type="button").catalog-cart__btn.text.--gray Удалить
              tr.catalog-cart__tr.--bottom
                td(colspan="5")
                  .catalog-cart__tr-line
                  b Описание: 
                  | зеленое, крепление зеркало
                td(colspan="3" align="right") &nbsp;
              tr.catalog-cart__tr.--color
                td
                  .catalog-cart__product
                    a(href="./tmp/product-img-288-288.png").catalog__code-link.j-image-popup
                    span Dacia Nova /SuperNova/ Solenza (Седан) (1995-2005)
                td 4003/ 39B2AGNBLMV1P
                td 1317*690
                td BENSON
                td 000001177
                td
                  a(href="#!").catalog-cart__price.text.--blue цена
                td
                  .cart-count.--mb0.j-cart-count
                    button.cart-count__minus(type='button')
                    button.cart-count__plus(type='button')
                    input.cart-count__input(type='text' value='2')
                td(align="right")
                  button(type="button").catalog-cart__btn.text.--gray Удалить
              tr.catalog-cart__tr.--bottom.--color
                td(colspan="5")
                  .catalog-cart__tr-line
                  b Описание: 
                  | зеленое, крепление зеркало
                td(colspan="3" align="right") &nbsp;
              tr.catalog-cart__tr
                td
                  .catalog-cart__product
                    a(href="./tmp/product-img-288-288.png").catalog__code-link.j-image-popup
                    span Dacia Nova /SuperNova/ Solenza (Седан) (1995-2005)
                td 4003/ 39B2AGNBLMV1P
                td 1317*690
                td BENSON
                td 000001177
                td
                  a(href="#!").catalog-cart__price.text.--blue цена
                td
                  .cart-count.--mb0.j-cart-count
                    button.cart-count__minus(type='button')
                    button.cart-count__plus(type='button')
                    input.cart-count__input(type='text' value='2')
                td(align="right")
                  button(type="button").catalog-cart__btn.text.--gray Удалить
              tr.catalog-cart__tr.--bottom
                td(colspan="5")
                  .catalog-cart__tr-line
                  b Описание: 
                  | зеленое, крепление зеркало
                td(colspan="3" align="right") &nbsp;
              tr.catalog-cart__tr.--color
                td
                  .catalog-cart__product
                    a(href="./tmp/product-img-288-288.png").catalog__code-link.j-image-popup
                    span Dacia Nova /SuperNova/ Solenza (Седан) (1995-2005)
                td 4003/ 39B2AGNBLMV1P
                td 1317*690
                td BENSON
                td 000001177
                td
                  a(href="#!").catalog-cart__price.text.--blue цена
                td
                  .cart-count.--mb0.j-cart-count
                    button.cart-count__minus(type='button')
                    button.cart-count__plus(type='button')
                    input.cart-count__input(type='text' value='2')
                td(align="right")
                  button(type="button").catalog-cart__btn.text.--gray Удалить
              tr.catalog-cart__tr.--bottom.--color
                td(colspan="5")
                  .catalog-cart__tr-line
                  b Описание: 
                  | зеленое, крепление зеркало
                td(colspan="3" align="right") &nbsp;
          .clear50
          table.catalog-cart__table
            thead.catalog-cart__thead
              tr
                th(width="306") Товар
                th Размер
                th Производитель
                th Код
                th(width="100") Цена
                th(width="127") Количество
                th(width="1") &nbsp;
            tbody.catalog-cart__body
              tr.catalog-cart__tr
                td
                  .catalog-cart__product
                    a(href="./tmp/product-img-288-288.png").catalog__code-link.j-image-popup
                    span Dacia Nova /SuperNova/ Solenza (Седан) (1995-2005)
                td 1317*690
                td BENSON
                td 000001177
                td
                  a(href="#!").catalog-cart__price.text.--blue цена
                td
                  .cart-count.--mb0.j-cart-count
                    button.cart-count__minus(type='button')
                    button.cart-count__plus(type='button')
                    input.cart-count__input(type='text' value='2')
                td(align="right")
                  button(type="button").catalog-cart__btn.text.--gray Удалить
              tr.catalog-cart__tr.--bottom
                td(colspan="5")
                  .catalog-cart__tr-line
                  b Описание: 
                  | зеленое, крепление зеркало
                td(colspan="3" align="right") &nbsp;
              tr.catalog-cart__tr.--color
                td
                  .catalog-cart__product
                    a(href="./tmp/product-img-288-288.png").catalog__code-link.j-image-popup
                    span Dacia Nova /SuperNova/ Solenza (Седан) (1995-2005)
                td 1317*690
                td BENSON
                td 000001177
                td
                  a(href="#!").catalog-cart__price.text.--blue цена
                td
                  .cart-count.--mb0.j-cart-count
                    button.cart-count__minus(type='button')
                    button.cart-count__plus(type='button')
                    input.cart-count__input(type='text' value='2')
                td(align="right")
                  button(type="button").catalog-cart__btn.text.--gray Удалить
              tr.catalog-cart__tr.--bottom.--color
                td(colspan="5")
                  .catalog-cart__tr-line
                  b Описание: 
                  | зеленое, крепление зеркало
                td(colspan="3" align="right") &nbsp;
              tr.catalog-cart__tr
                td
                  .catalog-cart__product
                    a(href="./tmp/product-img-288-288.png").catalog__code-link.j-image-popup
                    span Dacia Nova /SuperNova/ Solenza (Седан) (1995-2005)
                td 1317*690
                td BENSON
                td 000001177
                td
                  a(href="#!").catalog-cart__price.text.--blue цена
                td
                  .cart-count.--mb0.j-cart-count
                    button.cart-count__minus(type='button')
                    button.cart-count__plus(type='button')
                    input.cart-count__input(type='text' value='2')
                td(align="right")
                  button(type="button").catalog-cart__btn.text.--gray Удалить
              tr.catalog-cart__tr.--bottom
                td(colspan="5")
                  .catalog-cart__tr-line
                  b Описание: 
                  | зеленое, крепление зеркало
                td(colspan="3" align="right") &nbsp;
              tr.catalog-cart__tr.--color
                td
                  .catalog-cart__product
                    a(href="./tmp/product-img-288-288.png").catalog__code-link.j-image-popup
                    span Dacia Nova /SuperNova/ Solenza (Седан) (1995-2005)
                td 1317*690
                td BENSON
                td 000001177
                td
                  a(href="#!").catalog-cart__price.text.--blue цена
                td
                  .cart-count.--mb0.j-cart-count
                    button.cart-count__minus(type='button')
                    button.cart-count__plus(type='button')
                    input.cart-count__input(type='text' value='2')
                td(align="right")
                  button(type="button").catalog-cart__btn.text.--gray Удалить
              tr.catalog-cart__tr.--bottom.--color
                td(colspan="5")
                  .catalog-cart__tr-line
                  b Описание: 
                  | зеленое, крепление зеркало
                td(colspan="3" align="right") &nbsp;
          .container
            .catalog-cart__total
              .catalog-cart__total-row
                .first
                  b Итого
                .last
                  span 5600.48 грн
              +btn('Оформить заказ').--block.--xl

      //- include ./_include/_footer
      //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

