doctype

html(lang="ru")

  -var active = 'Корзина' //активный пункт меню, список в header.jade
  -var pageTitle = 'Корзина' + ' - Avtosteklo' //title страницы для генерации верстки
  -var loggined = false;

  include ./_include/_head

  body

    // Preloader
    include ./_include/_preloader
    
    .base
      include ./_include/_header

      // Content
      main.content
        .container
          +breadcrumbs()
            +breadcrumbs-item('Главная', './index.html')

          .content__head
            h1 Корзина

        .catalog-cart
          table.catalog-cart__table
            thead.catalog-cart__thead
              tr
                th Товар
                th Еврокод
                th Размер
                th Производитель
                th Код
                th Цена
                th Количество
            tbody.catalog-cart__body
              tr.catalog-cart__tr.--empty
                td(colspan="7" align="center") Ваша корзина на данный момент пуста
          .container
            .clear50
            .catalog-cart__total
              +btn('В каталог')(href="#!").--block.--xl

      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

