doctype

html(lang="ru")

  -var active = 'О доставке и оплате' //активный пункт меню, список в header.jade
  -var pageTitle = 'О доставке и оплате' + ' - Avtosteklo' //title страницы для генерации верстки
  -var loggined = false;

  include ./_include/_head

  body

    // Preloader
    include ./_include/_preloader
    
    .base
      include ./_include/_header

      // Content
      main.content
        .container
          +breadcrumbs()
            +breadcrumbs-item('Главная', './index.html')

          .content__head
            h1 О доставке и оплате

        .content__rectangle
          img(src="./img/logo-l.png", alt="")

        .container
          .content__document.--column-2
            p Предприятие принимает индивидуальные заказы на серийное производство автостекла, на цветовое оформление и художественный дизайн стекла и зеркала, на изготовление плоского и гнутого триплекса, бронированного стекла по индивидуальным размерам и формам дляиспользования во всех видах наземного транспорта, в строительстве и других сферах применения.
            p Наша политика направлена на долгосрочное развитие компании, поэтому мы дорожим своим имиджем и всегда отвечаем за качество своей работы.
            p Сотрудничество с несколькими заводами-производителями позволяет нам поддерживать оптимальное соотношение "цена-качество", бесперебойно обслуживать оптовых покупателей в любых количествах, а также постоянно расширять ассортимент предлагаемой продукции.
            p Сотрудничество с ООО "Трейдсистем" позволяет нашим клиентам работать с конкурентоспособным товаром по низким ценам, что обеспечивает им постоянно растущие продажи.
            p Предприятие принимает индивидуальные заказы на серийное производство автостекла, на цветовое оформление и художественный дизайн стекла и зеркала, на изготовление плоского и гнутого триплекса, бронированного стекла по индивидуальным размерам и формам дляиспользования во всех видах наземного транспорта, в строительстве и других сферах применения.
            p Наша политика направлена на долгосрочное развитие компании, поэтому мы дорожим своим имиджем и всегда отвечаем за качество своей работы.
            p Сотрудничество с несколькими заводами-производителями позволяет нам поддерживать оптимальное соотношение "цена-качество", бесперебойно обслуживать оптовых покупателей в любых количествах, а также постоянно расширять ассортимент предлагаемой продукции.
            p Сотрудничество с ООО "Трейдсистем" позволяет нашим клиентам работать с конкурентоспособным товаром по низким ценам, что обеспечивает им постоянно растущие продажи.

            .clear30

        .content__rectangle
          img(src="./img/logo-l.png", alt="")

        .container
          .content__document
            .row
              .col-6
                p Предприятие принимает индивидуальные заказы на серийное производство автостекла, на цветовое оформление и художественный дизайн стекла и зеркала, на изготовление плоского и гнутого триплекса, бронированного стекла по индивидуальным размерам и формам дляиспользования во всех видах наземного транспорта, в строительстве и других сферах применения.
                p Наша политика направлена на долгосрочное развитие компании, поэтому мы дорожим своим имиджем и всегда отвечаем за качество своей работы.
                p Сотрудничество с несколькими заводами-производителями позволяет нам поддерживать оптимальное соотношение "цена-качество", бесперебойно обслуживать оптовых покупателей в любых количествах, а также постоянно расширять ассортимент предлагаемой продукции.
                p Сотрудничество с ООО "Трейдсистем" позволяет нашим клиентам работать с конкурентоспособным товаром по низким ценам, что обеспечивает им постоянно растущие продажи.
              .col-6
                p Предприятие принимает индивидуальные заказы на серийное производство автостекла, на цветовое оформление и художественный дизайн стекла и зеркала, на изготовление плоского и гнутого триплекса, бронированного стекла по индивидуальным размерам и формам дляиспользования во всех видах наземного транспорта, в строительстве и других сферах применения.
                p Наша политика направлена на долгосрочное развитие компании, поэтому мы дорожим своим имиджем и всегда отвечаем за качество своей работы.
                p Сотрудничество с несколькими заводами-производителями позволяет нам поддерживать оптимальное соотношение "цена-качество", бесперебойно обслуживать оптовых покупателей в любых количествах, а также постоянно расширять ассортимент предлагаемой продукции.
                p Сотрудничество с ООО "Трейдсистем" позволяет нашим клиентам работать с конкурентоспособным товаром по низким ценам, что обеспечивает им постоянно растущие продажи.

      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

