doctype

html(lang="ru")

  -var active = 'Полезная информация' //активный пункт меню, список в header.jade
  -var pageTitle = 'Полезная информация' + ' - Avtosteklo' //title страницы для генерации верстки
  -var loggined = false;

  include ./_include/_head

  body

    // Preloader
    include ./_include/_preloader
    
    .base
      include ./_include/_header

      // Content
      main.content
        .container
          +breadcrumbs()
            +breadcrumbs-item('Главная', './index.html')

          .content__head
            h1 Полезная информация

          .row
            .col-4
              nav.sub-navigation(role="navigation")
                ul
                  li: a(href="#!") Расшифровка еврокода
                  li: a(href="#!") Список взаимозаменяемых автостекол
                  li: a(href="#!") Типы кузовов
                  li.active: span Маркировка автостекла

            .col-7
              h2.text.--blue-light Маркировка автомобильного стекла должна содержать:
              ul
                li товарный знак или наименование производителя;
                li знак официального утверждения в соответствии с правилами R43 ЕЭК ООН или директивой 92/22/СЕЕ государств, входящих в европейское экономическое сообщество.
                li Кроме того могут быть указаны обозначения зарубежных стандартов, которым соответствует стекло, дата его изготовления и т.д.

              h2.text.--blue-light Примеры маркировки автомобильного стекла:
              p автостекло pilkington автостекло sekurit автостекло fuyao автостекло xynia Товарный знак производителя.

              h2.text.--blue-light Тип стекла:
              p
                b Laminated 
                | ― многослойное стекло,
                br
                b Tempered 
                | ― закаленное стекло.

              h2.text.--blue-light Расширенный тип стекла
              ul
                li Упрочненное ветровое стекло,
                li Ветровое обычное многослойное стекло
                li Стекло из пластика
              p Прочие 
                b (не ветровые) 
                | стекла с коэффициентом пропускания света ниже 70%, V-VI - двойное стекло с коэффициентом пропускания света ниже 70%, Отсутствие индекса - стекла с коэффициентом пропускания света не ниже 70%. 

              h2.text.--blue-light Код страны предоставившей официальное утверждение: 
              ol.--column-4
                li Германия
                li Франция
                li Италия
                li Нидерланды
                li Швеция
                li Бельгия
                li Франция
                li Италия
                li Нидерланды
                li Швеция
                li Бельгия
                li Франция
                li Италия
                li Нидерланды
                li Швеция
                li Бельгия
                li Франция
                li Италия
                li Нидерланды
                li Швеция
                li Бельгия
                li Франция
                li Италия
                li Нидерланды
                li Швеция
                li Бельгия
                li Франция
                li Италия
                li Нидерланды
                li Швеция
                li Бельгия
                li Франция
              p Соответствие американским стандартам безопасности M, AS, DOT.
              p Соответствие европейскому стандарту безопасности ECE R43.
              p
                img(src="./tmp/info-document-4.png", alt="")


      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

