doctype

html(lang="ru")

  -var active = '1 Новость' //активный пункт меню, список в header.jade
  -var pageTitle = '1 Новость' + ' - Avtosteklo' //title страницы для генерации верстки
  -var loggined = false;

  include ./_include/_head

  body

    // Preloader
    include ./_include/_preloader
    
    .base
      include ./_include/_header

      // Content
      main.content
        .container
          +breadcrumbs()
            +breadcrumbs-item('Главная', './index.html')
            +breadcrumbs-item('Новости', './news.html')

          .content__head
            h1 Стекло Украины

          .row
            .col-4
              .content__document-thumb
                div
                  .content__document-time 07 ОКТЯБРЯ 2016, 18:26
                  img(src="./tmp/s-news-1.png", alt="" width="350")
            .col-8
              .content__document
                p 
                  b "Трейдсистем" 
                  | производитель высококачественного автомобильного стекла на импортные и отечественные автомобили. Автостекло, комплекс услуг по продаже и установке автомобильного стекла - то, с чего мы начали свою работу. Все годы мы динамично развивались, и результатом этого стало возрастающее с каждым годом количество клиентов, высокое качество обслуживания.
                p "Трейдсистем" производитель высококачественного автомобильного стекла на импортные и отечественные автомобили. Автостекло, комплекс услуг по продаже и установке автомобильного стекла - то, с чего мы начали свою работу. 
                  b Все годы мы динамично развивались
                  | , и результатом этого стало возрастающее с каждым годом количество клиентов, высокое качество обслуживания."Трейдсистем" 
                  a(href="#!") производитель
                  |  высококачественного автомобильного стекла на импортные и отечественные автомобили. Автостекло, комплекс услуг по продаже и установке автомобильного стекла - то, с чего мы начали свою работу. 
                p
                  img(src="./tmp/s-news-1.png", alt="")
                p Все годы мы динамично развивались, и результатом этого стало возрастающее с каждым годом количество клиентов, высокое качество обслуживания."Трейдсистем" производитель высококачественного автомобильного стекла на импортные и отечественные автомобили. Автостекло, комплекс услуг по продаже и установке автомобильного стекла - то, с чего мы начали свою работу. Все годы мы динамично развивались, и результатом этого стало возрастающее с каждым годом количество клиентов, высокое качество обслуживания."Трейдсистем" производитель высококачественного автомобильного стекла на импортные и отечественные автомобили. Автостекло, комплекс услуг по продаже и установке автомобильного стекла - то, с чего мы начали свою работу. Все годы мы динамично развивались, и результатом этого стало возрастающее с каждым годом количество клиентов, высокое качество обслуживания.

      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

