doctype

html(lang="ru")

  -var active = 'Регистрация' //активный пункт меню, список в header.jade
  -var pageTitle = 'Регистрация' + ' - Avtosteklo' //title страницы для генерации верстки
  -var loggined = false;

  include ./_include/_head

  body

    // Preloader
    include ./_include/_preloader

    .base
        include ./_include/_header

        // Content
        main.content
          .container
            +breadcrumbs()
              +breadcrumbs-item('Главная', './index.html')

            .content__head
              h1 Регистрация

            form(action="#")
              .row
                .col-4
                  .form-group
                    +field-text({
                      title: 'Фамилия Имя Отчество',
                      hasJs: false,
                      isTextarea: false,
                      hasError: false,
                      helpText: '',
                      mods: '',
                      val: '',
                      attrs: {
                        name: 'text',
                        placeholder: 'Введите ваше имя'
                      }
                    })
                .col-4
                  .form-group
                    .field-text
                      span.field-text__name Город
                      select(placeholder='Выберете ваш город').selectize
                        option(value) Выберете ваш город
                        option(value='1') Киев
                        option(value='2') Харьков
                        option(value='3') Днепр
                        option(value='4') Кировоград
              .row
                .col-4
                  .form-group
                    +field-text({
                      title: 'Номер телефона',
                      hasJs: false,
                      isTextarea: false,
                      hasError: false,
                      helpText: '',
                      mods: '',
                      val: '',
                      attrs: {
                        name: 'text',
                        placeholder: '+380 ХХ ХХХ ХХХ'
                      }
                    })
                .col-4
                  .form-group
                    +field-text({
                      title: 'Название компании',
                      hasJs: false,
                      isTextarea: false,
                      hasError: false,
                      helpText: '',
                      mods: '',
                      val: '',
                      attrs: {
                        name: 'text',
                        placeholder: 'Название компании(если есть)'
                      }
                    })
              .row
                .col-4
                  .form-group
                    +field-text({
                      title: 'Электронная почта',
                      hasJs: false,
                      isTextarea: false,
                      hasError: false,
                      helpText: '',
                      mods: '',
                      val: '',
                      attrs: {
                        name: 'text',
                        placeholder: 'Прмер@gmail.com'
                      }
                    })
                .col-4
                  .form-group
                    .clear15
                    +btn('Зарегистрироваться').--block.--xl

        include ./_include/_footer
        //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

