doctype

html(lang="ru")

  -var active = 'Корзина' //активный пункт меню, список в header.jade
  -var pageTitle = 'Корзина' + ' - Avtosteklo' //title страницы для генерации верстки
  -var loggined = false;

  include ./_include/_head

  body

    // Preloader
    include ./_include/_preloader
    
    .base
      include ./_include/_header

      // Content
      main.content
        .container

          .row.justify-content-center
            .col-lg-8
              +breadcrumbs()
                +breadcrumbs-item('Главная', './index.html')

              .content__head
                h1 Корзина

        .cart-empty
          .container
            p Ваша корзина на данный момент пуста

        .container
          .row.justify-content-center
            .col-lg-8
              +btn('В каталог')(href="#!").--block.--xl

      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

