/* modules */
.content {
  padding-top: 16px;
  padding-bottom: 80px;
  flex-grow: 1;
  &__document {
    font-size: 16px;
    img {
      display: block;
      margin: 0 auto;
      height: auto;
      max-width: 100%;
    }
    &-thumb {
      margin-bottom: 24px;
      text-align: center;
      &>div {
        position: relative;
        display: inline-block;
      }
      img {
        display: block;
        margin: 0 auto;
        height: auto;
        max-width: 100%;
      }
    }
    &-time {
      text-transform: uppercase;
      color: #fff;
      top: 8px;
      left: 24px;
      line-height: 24px;
      font-size: 16px;
      font-weight: 400;
      position: absolute;
    }
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__rectangle {
    padding: 60px 0;
    background: linear-gradient(90.97deg, #4C76AE 0%, #709FDC 100%);
    margin-bottom: 24px;
    &>img {
      margin: 0 auto;
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}

.--column-2 {
  column-count: 2;
}

.table {
  font-size: 16px;
  thead {
    th {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
      padding: 5px 0 25px 0;
      &+th {
        padding-left: 10px;
      }
    }
  }
  tbody {
    td {
      padding: 5px 0 10px 0;
      &+td {
        padding-left: 10px;
      }
    }
  }
}

.selectize-control.single {
  .selectize {
    &-dropdown, &-input, &-input input {
      font-size: 14px;
      color: $color-dark;
    }
    &-input {
      display: block;
      border-color: #F3F3F3;
      box-shadow: none;
      border-radius: 4px;
      height: 40px;
      padding: 10px 45px 10px 16px;
      background: {
        color: #F3F3F3;
        repeat: no-repeat;
        position: calc(100% - 16px) center;
        image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.43189 11.2596C7.23895 11.5904 6.76105 11.5904 6.56811 11.2596L0.863581 1.48042C0.611661 1.04856 1.07953 0.555186 1.52415 0.783846L6.77133 3.4824C6.91484 3.55621 7.08516 3.55621 7.22867 3.4824L12.4759 0.783846C12.9205 0.555187 13.3883 1.04856 13.1364 1.48043L7.43189 11.2596Z' fill='%23274684'/%3E%3C/svg%3E");
        size: 15px 15px;
      }
      &.input-active {
        background: {
          color: #F3F3F3;
          repeat: no-repeat;
          position: calc(100% - 16px) center;
          image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.43189 11.2596C7.23895 11.5904 6.76105 11.5904 6.56811 11.2596L0.863581 1.48042C0.611661 1.04856 1.07953 0.555186 1.52415 0.783846L6.77133 3.4824C6.91484 3.55621 7.08516 3.55621 7.22867 3.4824L12.4759 0.783846C12.9205 0.555187 13.3883 1.04856 13.1364 1.48043L7.43189 11.2596Z' fill='%23274684'/%3E%3C/svg%3E");
          size: 15px 15px;
        }
        box-shadow: none;
        border-color: $color-blue-light;
        display: block;
      }
      &::after {
        display: none;
      }
    }
    &-dropdown {
      margin-top: 0;
    }
  }
}

.mfp-bg {
  background: rgba(7, 23, 57, 0.5);
  backdrop-filter: blur(4px);
}
.mfp-container {
  padding-left: 16px;
  padding-right: 16px;
}
.modal {
  position: relative;
  width: auto;
  &__wrapper {
    margin: 10px auto;
    max-width: 500px;
    background: $color-white;
    border-radius: 4px;
    padding: 15px;
    &-content {
      font-size: rem(16px);
    }
  }
  &__title {
    font-family: $font-gilroy;
    font-weight: 800;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 16px;
    text-align: center;
    color: $color-dark;
  }
}

.s-about {
  padding-bottom: 12px;
  padding-top: 40px;
  &__row {
    padding-top: 10px;
  }
  &__block {
    background: $color-white;
    box-shadow: 0px 8px 33px rgba($color-black,.1);
    font-size: 16px;
    color: #525252;
    font-weight: bold;
    padding: 16px 24px;
    margin-bottom: 28px;
    p {
      margin-bottom: 0;
      max-width: 140px;
    }
    &-number {
      font-family: $font-gilroy;
      font-weight: 800;
      color: $color-blue;
      line-height: 1;
      margin-bottom: 8px;
      font-size: 32px;
    }
  }
}

.s-products {
  &__block {
    position: relative;
    min-height: 320px;
    background: $color-gray;
    margin: 0 -10px;
    font-size: 24px;
    font-weight: 800;
    font-family: $font-gilroy;
    padding-bottom: 100%;
    background: {
      position: top center;
      repeat: no-repeat;
      size: cover;
    };
    &-title {
      color: $color-white;
      text-decoration: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      &:hover {
        color: $color-white;
      }
      span {
        line-height: 1.2;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
      }
    }
  }
  &__row {
    margin-bottom: 40px;
  }
  &__dealer {
    color: $color-white;
    text-align: center;
    padding-bottom: 32px;
    padding-top: 32px;
    background: linear-gradient(90.97deg, #4C76AE 0%, #709FDC 100%);
    &-title {
      margin-bottom: 24px;
      font-weight: 800;
      font-family: $font-gilroy;
      font-size: 24px;
      line-height: 1.3;
    }
    .btn {
      max-width: 288px;
      margin: 0 auto;
    }
  }
}

.s-certificates {
  padding-bottom: 16px;
  &__block {
    margin-bottom: 24px;
    &-thumb {
      position: relative;
      background: #FFFFFF;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: 16px;
      overflow: hidden;
      height: 254px;
      display: flex;
      align-items: center;
      justify-content: center;
      &>a {
        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }
    &-title {
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      padding: 0 10px;
    }
  }
}

.s-information {
  padding-bottom: 16px;
  &__block {
    background: $color-white;
    box-shadow: 0px 8px 33px rgba($color-black,.1);
    font-size: 16px;
    color: #525252;
    font-weight: bold;
    padding: 10px 24px;
    margin-bottom: 24px;
    min-height: 100px;
    display: flex;
    align-items: center;
    position: relative;
    &-title {
      text-decoration: none;
      color: $color-blue;
      &:hover {
        color: $color-blue;
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}

.s-news {
  padding-bottom: 0;
  &__block {
    margin-bottom: 24px;
    &-thumb {
      position: relative;
      min-height: 260px;
      padding-bottom: 100%;
      margin-bottom: 16px;
      background: {
        color: $color-black;;
        position: top center;
        repeat: no-repeat;
        size: cover;
      };
    }
    &-time {
      position: absolute;
      z-index: 5;
      color: $color-white;
      text-transform: uppercase;
      line-height: 24px;
      top: 8px;
      left: 24px;
    }
    p {
      font-size: 18px;
      font-family: $font-gilroy;
      font-weight: 800;
      line-height: 1.2;
      margin-bottom: 8px;
    }
    &-link {
      color: $color-blue;
    }
  }
}

.s-top {
  margin-top: -16px;
  padding-bottom: 0;
  overflow: hidden;
  &__wrapper {
    padding-top: 16px;
    height: 430px;
    position: relative;
    background: #eeeeeea1;
  }
  &__title {
    max-width: 190px;
    font-size: rem(32px);
    line-height: 1.17;
    font-family: $font-gilroy;
    font-weight: 800;
    color: $color-dark;
    position: absolute;
    z-index: 10;
  }
  &__img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .btn {
    max-width: 288px;
    margin: 0 auto;
  }
}

.contacts {
  &__title {
    font-size: 24px;
    font-weight: 800;
    font-family: $font-gilroy;
    color: $color-blue;
    margin-bottom: 16px;
  }
  &__list {
    margin: 0 -10px;
    padding: 0;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    &>li {
      list-style: none;
      padding: 0 10px;
      width: 100%;
      &::before {
        display: none;
      }
      &>span, &>a {
        display: block;
        text-decoration: none;
        height: 40px;
        line-height: 40px;
        background: $color-white;
        color: $color-blue-light;
        text-align: center;
        overflow: hidden;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
        padding: 0 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
  @include media-breakpoint-up(md) {
    &__list {
      li {
        width: 50%;
      }
    }
  }
}

.orders {
  $this: &;
  &__block {
    background: #FAFAFA;
    margin-bottom: 16px;
    padding: 8px 16px;
    font-size: 14px;
    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8px;
      font-weight: 700;
      b {
        font-size: 24px;
        font-weight: 800;
        font-family: $font-gilroy;
        color: $color-blue-light;
      }
      span {
        display: block;
        line-height: 1;
      }
    }
    &-row {
      display: flex;
      align-items: flex-end;
      line-height: 24px;
      .first {
        flex-grow: 1;
        padding-right: 0px;
        position: relative;
        b {
          display: inline;
          z-index: 1;
          position: relative;
          padding-right: 5px;
          background:#FAFAFA;
          color: $color-dark;
        }
        &::before {
          content: '....................................................................................................................................................................................................................................................................................';
          display: block;
          white-space: nowrap;
          overflow: hidden;
          position: absolute;
          width: calc(100% - 0px);
          bottom: 0;
          color: $color-black;
        }
      }
      .last {
        padding-left: 5px;
        white-space: nowrap;
      }
    }
    &-btn {
      margin: 5px -16px -8px -16px;
      border-radius: 0;
      border-color: $color-blue-light !important;
      width: calc(100% + 32px);
      font-weight: 600;
      font-size: 12px;
    }
    &-number {
      display: flex;
      align-items: center;
      color: $color-black;
      font-size: 14px;
      margin-left: -16px;
      margin-bottom: 16px;
      .last {
        flex-grow: 1;
      }
      .first {
        flex-shrink: 0;
        width: 42px;
        text-align: center;
        color: $color-blue-light;
        font-size: 24px;
        font-weight: 800;
        font-family: $font-gilroy;
      }
    }
    &.--even {
      background: #DBE7F6;
      #{$this} {
        &__block {
          &-row {
            .first {
              b {
                background: #DBE7F6;
              }
            }
          }
        }
      }
    }
  }
}