/* buttons */
.btn {
  display: inline-block;
  padding: 15px 20px;
  margin-bottom: 0;
  font-size: rem(16px);
  font-weight: 500;
  text-align: center;
  vertical-align: top;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background: {
    image: none;
    color: $color-blue-light;
  };
  border: 1px solid $color-blue-light;
  border-radius: 4px;
  color: $color-white;
  line-height: 16px;
  text-decoration: none;
  transition: all 0.35s;
  position: relative;
  min-width: 80px;
  background-position: center;
  -webkit-tap-highlight-color: transparent;
  &+.btn {
    margin-left: 15px;
  }
  &:hover, &:focus, &:active {
    outline: none;
  }
  &:hover {
    color: $color-white;
    background-color: $color-blue-light;
    border-color: $color-blue-light;
    text-decoration: none;
  }
  &:active, &:focus {
    color: $color-white;
    background-color: $color-blue-light;
    border-color: $color-blue-light;
    text-decoration: none;
  }
  @media (hover: none) and (pointer: coarse) {
    transition: background 0.5s;
    &:hover {
      background:  $color-blue-light radial-gradient(circle, transparent 1%,  $color-blue-light 0%) center/15000%;
    } 
    &:active {
      background-color: $color-blue;
      background-size: 100%;
      transition: background 0s;
    }
  }
  &.--white {
    background: $color-white;
    color: $primary-color;
    border-color: $color-white;
    &:hover, &:active, &:focus {
      background: $color-white;
      color: $primary-color;
      border-color: $color-white;
    }
    @media (hover: none) and (pointer: coarse) {
      transition: background 0.5s;
      &:hover {
        background:  $color-white radial-gradient(circle, transparent 1%,  $color-white 0%) center/15000%;
      } 
      &:active {
        background-color: $color-blue-light;
        background-size: 100%;
        transition: background 0s;
      }
    }
  }
  @media (hover: none) and (pointer: coarse) {
    transition: background 0.5s;
    &:hover {
      background:  $color-blue-light radial-gradient(circle, transparent 1%,  $color-blue-light 0%) center/15000%;
    } 
    &:active {
      background-color: $color-blue;
      background-size: 100%;
      transition: background 0s;
    }
  }
  &.--block {
    display: block;
    width: 100%;
  }
  &.--sm {
    font-size: rem(12px);
    padding: 7px 10px;
    border-radius: 4px;
    [class*="icon-"] {
      margin-right: 5px;
    }
  }
  &.--md {
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 4px;
  }
  &.--lg {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  &.--xl {
    padding-top: 23px;
    padding-bottom: 23px;
  }
  &.--two-line {
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 15px;
  }
  &.disabled {
    color: $color-dark !important;
    background-color: $color-white !important;
    border-color: $color-gray !important;
    cursor: auto !important;
    opacity: 1;

    @media (hover: none) and (pointer: coarse) {
      &:hover {
        background: transparent;
      } 
      &:active {
        background-color: transparent;
      }
    }
  }
  &.--center {
    width: 100%;
    max-width: 230px;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 25px;
  }
  &.--height-auto {
    padding-top: 0;
    padding-bottom: 0;
  }
  [class*="icon-"] {
    display: inline-block;
    margin-right: 10px;
    vertical-align: -1px;
    position: relative;
  }
}