// Footer
footer.footer
  .container
    .footer__wrapper
      div
        .footer__logo
          img(src="./img/logo.png", alt="")
      div
        .footer__title График работы
        .footer__schedule
          div
            b ПН-ПТ
            span 09:00 - 18:00
          div
            b СБ
            span 09:00 - 15:00
          div
            b ВС
            span Выходной
      div
        .footer__title Контакты
        .footer__contacts
          div
            a(href="tel:") +38(095)760-04-70
          div
            a(href="mailto:") sales1@avtosteklo.com
          div
            a(href="#!") Все контакты

      div
        .footer__title Мы в соц сетях
        .footer__social
          div
            a(href="#!" target="_blank")
              i.icon-facebook
              span Facebook
          div
            a(href="#!" target="_blank")
              i.icon-instagram
              span Instagram
    
    ul.footer__links
      li
        a(href="#!") Политика приватности
      li Розробка - 
        a(href="#!" target="_blank") DARTC