// Header

if loggined == true
  header.header.--logged
    .header__top
      .container.header__top-container
        .header__top-wrapper
          .header__course
            b Курс: 
            | 1$ = 24.69 грн
          nav(role="navigation").header__links
            ul
              li: a(href="#!") Связаться с менеджером
              li: a(href="#!") История заказов
              li: a(href="#!") Избранное
          .header__profile
            a(href="#!")
              i.icon-user
              span Константин
        
    .header__bottom
      .container
        .header__bottom-wrapper
          .logo.header__logo
            a(href="#!")
              img(src="./img/logo.png", alt="")
          nav(role="navigation").navigation
            ul
              li: a(href="#!") О компании
              li: a(href="#!") Поиск по каталогу
              li: a(href="#!") Поиск по коду
              li: a(href="#!") Полезная информация
              li: a(href="#!") Контакты
              li: a(href="#!") Новости
              li: a(href="#!") О доставке и оплате
          button(type="button").btn-cart.header__cart
            span 20
else
  header.header
    .header__top
      .container.header__top-container
        .header__top-wrapper
          .header__course
            b Курс: 
            | 1$ = 24.69 грн
          nav(role="navigation").header__links
            ul
              li: a(href="#!") Связаться с менеджером
              li: a(href="#!") История заказов
              li: a(href="#!") Избранное
          .header__profile
            a(href="#!")
              i.icon-user
              span Константин
        
    .header__bottom
      .container
        .header__bottom-wrapper
          .logo.header__logo
            a(href="#!")
              img(src="./img/logo.png", alt="")
          nav(role="navigation").navigation
            ul
              li: a(href="#!") О компании
              li: a(href="#!") Каталог
              li: a(href="#!") Полезная информация
              li: a(href="#!") Новости
              li: a(href="#!") Контакты
              li: a(href="#!") О доставке и оплате
          button(type="button").btn-cart.header__cart
            span 20

.header-holder