#modal1.modal.mfp-hide
  .modal__wrapper
    button(type="button").modal__close.d-none
    .modal__header Связаться с менеджером
    .modal__content
      .modal__content-center
        form(action="#!")
          .form-group
            +field-text({
              title: 'Имя',
              hasJs: false,
              isTextarea: false,
              hasError: false,
              helpText: '',
              mods: '',
              val: '',
              attrs: {
                name: 'text',
                placeholder: 'Введите ваше имя'
              }
            })
          .form-group
            +field-text({
              title: 'Номер телефона',
              hasJs: false,
              isTextarea: false,
              hasError: false,
              helpText: '',
              mods: '',
              val: '',
              attrs: {
                name: 'text',
                placeholder: 'Введите ваш номер телефона'
              }
            })
          +btn('Связаться').--xl.btn-block-center

#modal2.modal.mfp-hide
  .modal__wrapper
    button(type="button").modal__close.d-none
    .modal__header Заявка на регистрацию принята
    .modal__content
      .modal__content-center.text-center
        p После обработки вам прийдет смс с паролем и логином, а наш менеджер позвонит и проинформирует вас
        .clear8
        +btn('Связаться').--xl.btn-block-center

#modal3.modal.mfp-hide
  .modal__wrapper
    button(type="button").modal__close.d-none
    .modal__header Узнать цену
    .modal__content
      .text-center
        p Ваш менеджер вскоре перезвонит вам
      .clear8
      +btn('Связаться').--xl.btn-block-center

#modal4.modal.mfp-hide
  .modal__wrapper
    button(type="button").modal__close.d-none
    .modal__header Заказ оформлен
    .modal__content
      .text-center
        p Свободный менеджер свяжется с вами в ближайшее время
      .clear8
      +btn('На главную')(href='#!').--xl.btn-block-center

#modal5.modal.mfp-hide
  .modal__wrapper
    button(type="button").modal__close.d-none
    .modal__header Заявка принята
    .modal__content
      .text-center
        p Ваш менеджер свяжется с вами в ближайшее время
      .clear8
      +btn('На главную')(href='#!').--xl.btn-block-center

#modal6.modal.--cart.mfp-hide
  .modal__wrapper
    button(type="button").modal__close.d-none
    .modal__cart
      .container
        .content__head
          .h1 Корзина

      .catalog-cart
        table.catalog-cart__table
          thead.catalog-cart__thead
            tr
              th Товар
              th Размер
              th Производитель
              th Код
              th Цена
              th Количество
          tbody.catalog-cart__body
            tr.catalog-cart__tr
              td
                .catalog-cart__product
                  a(href="./tmp/product-img-288-288.png").catalog__code-link.j-image-popup
                  span Dacia Nova /SuperNova/ Solenza (Седан) (1995-2005)
              td 1317*690
              td BENSON
              td 000001177
              td
                a(href="#!").catalog-cart__price.text.--blue цена
              td
                .cart-count.--mb0.j-cart-count
                  button.cart-count__minus(type='button')
                  button.cart-count__plus(type='button')
                  input.cart-count__input(type='text' value='2')
              td(align="right")
                button(type="button").catalog-cart__btn.text.--gray Удалить
            tr.catalog-cart__tr.--bottom
              td(colspan="5")
                .catalog-cart__tr-line
                b Описание: 
                | зеленое, крепление зеркало
              td(colspan="3" align="right") &nbsp;
            tr.catalog-cart__tr.--color
              td
                .catalog-cart__product
                  a(href="./tmp/product-img-288-288.png").catalog__code-link.j-image-popup
                  span Dacia Nova /SuperNova/ Solenza (Седан) (1995-2005)
              td 1317*690
              td BENSON
              td 000001177
              td
                a(href="#!").catalog-cart__price.text.--blue цена
              td
                .cart-count.--mb0.j-cart-count
                  button.cart-count__minus(type='button')
                  button.cart-count__plus(type='button')
                  input.cart-count__input(type='text' value='2')
              td(align="right")
                button(type="button").catalog-cart__btn.text.--gray Удалить
            tr.catalog-cart__tr.--bottom.--color
              td(colspan="5")
                .catalog-cart__tr-line
                b Описание: 
                | зеленое, крепление зеркало
              td(colspan="3" align="right") &nbsp;
            tr.catalog-cart__tr
              td
                .catalog-cart__product
                  a(href="./tmp/product-img-288-288.png").catalog__code-link.j-image-popup
                  span Dacia Nova /SuperNova/ Solenza (Седан) (1995-2005)
              td 1317*690
              td BENSON
              td 000001177
              td
                a(href="#!").catalog-cart__price.text.--blue цена
              td
                .cart-count.--mb0.j-cart-count
                  button.cart-count__minus(type='button')
                  button.cart-count__plus(type='button')
                  input.cart-count__input(type='text' value='2')
              td(align="right")
                button(type="button").catalog-cart__btn.text.--gray Удалить
            tr.catalog-cart__tr.--bottom
              td(colspan="5")
                .catalog-cart__tr-line
                b Описание: 
                | зеленое, крепление зеркало
              td(colspan="3" align="right") &nbsp;
            tr.catalog-cart__tr.--color
              td
                .catalog-cart__product
                  a(href="./tmp/product-img-288-288.png").catalog__code-link.j-image-popup
                  span Dacia Nova /SuperNova/ Solenza (Седан) (1995-2005)
              td 1317*690
              td BENSON
              td 000001177
              td
                a(href="#!").catalog-cart__price.text.--blue цена
              td
                .cart-count.--mb0.j-cart-count
                  button.cart-count__minus(type='button')
                  button.cart-count__plus(type='button')
                  input.cart-count__input(type='text' value='2')
              td(align="right")
                button(type="button").catalog-cart__btn.text.--gray Удалить
            tr.catalog-cart__tr.--bottom.--color
              td(colspan="5")
                .catalog-cart__tr-line
                b Описание: 
                | зеленое, крепление зеркало
              td(colspan="3" align="right") &nbsp;
        .container
          .catalog-cart__total
            .catalog-cart__total-row
              .first
                b Итого
              .last
                span 5600.48 грн
            +btn('Продолжить оформление').--block.--xl

#modal7.modal.--toCart.mfp-hide
  .modal__wrapper
    button(type="button").modal__close
    .modal__header Dacia Nova /SuperNova /Solenza (Седан) (1995-2005)
    .modal__content
      .modal__product
        .modal__product-thumb
          img(src="./tmp/product-img-118-118.png", alt="")
        .last
          .modal__product-cost
            .first 
              b Цена:
            .last
              span 469.6 грн
          .cart-count.j-cart-count
            button.cart-count__minus(type='button')
            button.cart-count__plus(type='button')
            input.cart-count__input(type='text' value='1')
          .modal__product-price 939.2 грн
          +btn('Оформить заказ')(href="#!").modal__product-btn
      button(type="button").modal__btn-to-cart 
        span Добавить в корзину и продолжить покупки
        i.icon-arrow-right-2